body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #D0CDD7;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a hover {
    text-decoration: underline;
    color: #3DFAFF;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

.project {
    background-color: #1481BA;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {
        margin: 10px 0;
    }

    main {
        padding: 15px;
    }
}